<h3>{{ _("Bambu Connector Settings") }}</h3>
<form class="form-horizontal" onsubmit="return false;">
    <fieldset id="settings_bambu_connector">
        <legend>{{ _("Printer Time") }}</legend>
        <p>
            {% trans %}
            If your printer's local time is offset from your own (e.g. because you didn't set it up through Bambulab's phone app and never let it touch their
            cloud), you can specify its timezone here. OctoPrint will then automatically calculate the time of stored files relative
            to its own local server time.
        {% endtrans %}
    </p>
    <div class="control-group">
        <label class="control-label">{{ _("Timezone") }}</label>
        <div class="controls">
            <select data-bind="value: settingsViewModel.settings.plugins.bambu_connector.printer_timezone">
                <option value="">
                    {{ _("Server timezone (%%(server_time)s)") |format(server_time=plugin_bambu_connector_server_timezone) }}
                </option>
                <option value="{{ plugin_bambu_connector_default_printer_timezone }}">
                    {{ _("Default printer timezone (%%(default_timezone)s)") |format(default_timezone=plugin_bambu_connector_default_printer_timezone) }}
                </option>
                {% for timezone in plugin_bambu_connector_timezones %}
                    <option value="{{ timezone }}">{{ timezone }}</option>
                {% endfor %}
            </select>
            <span class="help-block">{{ _("The default timezone of Bambulab printers that never were connected to their app or cloud appears to match <code>%%(default_timezone)s</code>.") | format(default_timezone=plugin_bambu_connector_default_printer_timezone) }}</span>
        </div>
    </div>
</fieldset>
</form>
