<div id="bambu_connector_print_options" class="modal hide fade">
    <div class="modal-header">
        <h3>{{ _("Bambu Print Options") }}</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span6">
                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: performBedLeveling">
                    {{ _("Perform bed leveling") }}
                </label>
                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: performFlowCali">
                    {{ _("Perform flow calibration") }}
                </label>
            </div>
            <div class="span6">
                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: useAms">
                    {{ _("Use AMS") }}
                </label>
                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: enableTimelapse">
                    {{ _("Enable timelapse") }}
                </label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" data-bind="click: cancelPrintOptions">{{ _("Cancel") }}</button>
        <button class="btn btn-primary" data-bind="click: acceptPrintOptions">{{ _("Ok") }}</button>
    </div>
</div>
